// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #064b83;
$indigo: #49517e;
$purple: #d40718;
$pink: #ff0055;
$red: #e3342f;
$orange: #ff8000;
$yellow: #ffe600;
$green: #00ff6a;
$teal: #02ffe6;
$cyan: #008cff;
